body {
  color: #F7F7F7;
  margin: 0;
  text-align: center;
  font-family: 'Karma', serif;
}

h1 {
  color: #43D8C9;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Karma', cursive;
}

h2 {
  color: #43D8C9;
  font-family: 'Karma', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #43D8C9;
  font-family: 'Karma', sans-serif;
}

p {
  line-height: 2;
}

hr {
  border: dotted #F7F7F7 6px;
  border-bottom: none;
  width: 15%;
  margin: none;
}

a {
  color: #43D8C9;
  font-family: 'karma', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #F7F7F7;
}

.top-container {
  background-color: #FBD7FF;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 0px 0;
}

.profile {
  background-color: #100303
}

.Features {
  background-color: #100303
}

.bottom-container {
  background-color: #FBD7FF;
  padding: 50px 0 20px;
}

.features-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.Hobbies-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.Skills-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 50%;
  margin: none;
  text-align: center;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #43D8C9;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-moon {
  position: absolute;
  right: 0px;
  top: 0px;
}

.bottom-star {
  position: absolute;
  left: 0px;
  bottom: 100px;
}

.glasses-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.hobbies-img {
  width: 35%;
  float: left;
  margin-right: 30px;
}

.Skills-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Karma', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
